@media screen and (max-width: 1440px) {

    .wrapper {
        margin: 0;
    }

    header{
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        }

        .nav-list.active {
        display: flex;
        background-color: rgba(0, 0, 0, 0.829);
        width: 100vw;
        padding: 0;
        margin: 0;
        height: 32vh;
        padding-bottom: 20%;
        padding-top: 20%;
        }
    
        .burger-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        padding: 10px;
        z-index: 2;
        }
        
        .burger {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        }
    
        .bar {
        width: 100%;
        height: 5px;
        background-color: #ffd51d;
        transition: transform 0.4s;
        }
    
        .burger.toggle .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
        
        .burger.toggle .line2 {
            opacity: 0;
        }
        
        .burger.toggle .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
        
    .section-work,
    .section-edu,
    .section-skill,
    .section-lang {
        padding: 0 40px;
    }

}

@media screen and (max-width: 1080px) {

    .info {
        width: 300px;
        height: 230px;
    }

    .info::before {
        width: 300px;
        height: 230px;
    }
        
    .section-work,
    .section-edu,
    .section-skill,
    .section-lang {
        font-size: 16px;
    }

    .js-code img {
        width: 550px;
    }
    
    .js-code pre {
        position: absolute;
        top: 73px;
        left: 65px;
        color: white;
        white-space: pre-wrap;
        width: 33%;
        box-sizing: border-box;
        font-size: 7px;
    }
}

@media screen and (max-width: 740px) {
    .wrapper-contant {
        flex-direction: column;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .hero-container {
        flex-direction: column;
        height: auto;
    }

    .box-hero-left {
        position: static;
        width: 100%;
        height: 50%;
    }

    .text-head {
        font-size: 45px;
    }

    .text-prof {
        font-size: 20px;
    }

    .box-hero-right { 
        position: static;
        width: 100%;
        height: 50%;
    }
    
    .box-hero-right::before {
        width: 100%;
        height: 50%;
    }

    .section-skill {
        flex-direction: column;
    }

    .work-info,
    .edu-info,
    .skil-info,
    .lang-info {
        display: flex;
        align-items:center;
        width: 100%;
    }
    
    .pic-work,
    .pic-edu,
    .pic-lang {
        display: none;
    }
    
    .icons-lang {
        width: 30%;
    }

    .lang-info {
        padding: 50% 0;
    }
    
    .lang-info ul {
        padding-left: 0;
    }

    .lang-info li {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
    
}